{
  "exclude": [
    "/node_modules/"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "0.10.0"
        },
        "modules": "umd"
      }
    ]
  ]
}