{
  "extends": "eslint:recommended",
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "mocha": true
  },
  "rules": {
    "no-console": [
      "error",
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1,
        "ArrayExpression": 1,
        "MemberExpression": 2
      }
    ]
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "impliedStrict": true
    },
    "sourceType": "module",
    "spread": true
  }
}